@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins:wght@200&family=Source+Code+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins:wght@300&family=Source+Code+Pro:wght@300;400&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow-y: scroll;
}

#root
{
  height: 100%;
}

.App
{
  height: 100%;
  display: flex;
  flex-direction: row;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body
{
  background-color: #b1d9db;
  color: white;
}
#p1
{
  width: 32%;
  font-family: Poppins;
font-size: 2rem;
font-weight: 400;
line-height: 33px;
letter-spacing: 0.04em;
text-align: left;
padding: 0 25px;

font-family: 'Poppins', sans-serif;
padding-right: 5px;
}
#p2
{
  width: 68%;
  background-color: white;
  height: 100%;
  border-radius: 6% 0 0 6%;
  color: rgb(28, 26, 26);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  color: #c0b6b6;
  padding: 0px 5px;
}

#p2>#header>h1{
  color: black;
}

#form
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#img1
{
  height: 70%;
  position: relative;
  /* left: 34%; */
  transform: rotateZ(-8deg);
  
  /* scale: 1.01; */
}
#header
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  font-family: 'Poppins';
  font-weight: 900;
  padding: 15px;
  /* justify-content: flex-start; */
}
.gobuttons
{
  
  background-color: white;
  align-content: center;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border: 1px solid #c0b6b6;
  border-radius:20px;
}
#gobuttons
{
  display: flex;
  flex-direction: row;
  column-gap: 10px;

}

#form>input
{
  width: 55%;
  font-size: 1.5rem;
  border: none;
  padding-bottom: 5px;
  
  margin: 30px 0px;
  border-bottom: 1px solid #c0b6b6;
}
#form>input:focus
{
  outline: none;
}
#subbutton
{
  margin: 20px 0px;
  padding: 5px;
  width: 53%;
  font-size: 1.2rem;
  background-color: #7cd2d7;
  color: white;
  border: none;
  border-radius: 15px ;
}
#message
{
  font-size: 1.25rem;
  color: #7cd2d7;
}
@media(max-width:1080px)
{
  .App
  {
    display: flex;
  flex-direction: column;
}
body
{
overflow-y: auto;
} 
#p1,#p2
{
width: 100%;
border-radius: 6%
}

#form>input
{
  width:70%
}

  }
